body {
	width: 2100px;
    height: 2100px;
    background-color: black;
}

.board {
	display: grid;
	grid-template-columns: repeat(40, 50px);
	grid-template-rows: repeat(18, 50px);
	gap: 5px;
	background-color: black;
	position: relative;
	width: 100%;
	height: 100%;
}

.cell {
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: 10%;
}

.player {
	border-radius: 50%;
	position: absolute;
}

.player.players-in-cell-1 {
	width: 100%;
	height: 100%;
}

.player.players-in-cell-2 {
	width: 75%;
	height: 75%;
}

.player.players-in-cell-2.player-number-0 {
	left: 0px;
	top: 0px;
}

.player.players-in-cell-2.player-number-1 {
	left: 12px;
	top: 12px;
}

.player.players-in-cell-3 {
	width: 60%;
	height:60%;
}

.player.players-in-cell-3.player-number-0 {
	left: 0px;
	top: 0px;
}

.player.players-in-cell-3.player-number-1 {
	left: 12px;
	top: 12px;
}

.player.players-in-cell-3.player-number-2 {
	left: 20px;
	top: 20px;
}

/* PlayersButtons.css */

.players-buttons {
  position: fixed;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column; /* Alinea los botones en una columna */
  align-items: flex-start; /* Alinea los botones a la izquierda */
  width: 100px; /* Ajusta el ancho según tus necesidades */
}

.player-button {
  margin-bottom: 10px; /* Agrega un margen inferior entre los botones */
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.player-button.selected {
  border: 10px solid yellow; /* Puedes ajustar el color y grosor del borde según tus preferencias */
}

/* Agrega estilos individuales para cada jugador */
.player-button.player-1 { background-color: DeepSkyBlue; color: white; }
.player-button.player-2 { background-color: LawnGreen; color: white; }
.player-button.player-3 { background-color: Violet; color: white; }
/* Puedes seguir agregando estilos para más jugadores si es necesario */